<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice Board</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script></head>
<body style="background-color: rgb(230, 230, 230);">
    <%- include("navbar.ejs"); %> 
    <script src="/socket.io/socket.io.js"></script>
    <div class="card container-lg bg-white my-2 p-0">
        <div id="notices" class="card-body" style="height:51vh;overflow: auto;">
            <% if(notices!=undefined&&notices.length!=0) {notices.forEach(element => { %>
                <div class="card mb-3" id="<%- element.noticeId %>" style=<%- element.noticeAuthor==user["userName"]?"\"min-width:25%; max-width: 65%; width: fit-content;margin-left:auto; margin-right: 0px;\"":"\"min-width:25%; max-width: 65%; width: fit-content;\""%>>
                    <div class="card-header">
                        <% if(element.noticeAuthor==user["userName"]){ %> 
                            <span class="btn btn-outline-primary disabled">Sent by you</span>
                        <form name="deletedNotice" class="float-end" action="/notice/deleteNotice/<%-element.noticeId%>" method="POST" onsubmit="return submitForm(this,this.action)">
                            <input class="btn btn-danger" type="submit" value="delete">
                        </form>
                        <% } else { %>
                            <a class="btn btn-outline-primary" href="/users/<%-element.noticeAuthor%>"><%-element.noticeAuthor%></a>
                        <% } %>  
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <h3 class="card-title"><%-element.noticeTitle!=undefined&&element.noticeTitle!=""?element.noticeTitle[0].toUpperCase()+element.noticeTitle.substring(1):""%></h3>
                            <div class="card-text"><%-element.noticeDescription!=undefined&&element.noticeDescription!=""?element.noticeDescription[0].toUpperCase()+element.noticeDescription.substring(1):""%></div>
                        </div>
                        <% if(element.files!=undefined&&element.files.length!=0) {%>
                            <div class="list-group-item">
                                <% for( let j = 0; j < element.files.length; j++ ) { %>
                                    <% type="";
                                    if(element.files[j]["mimetype"].indexOf("text")>=0){
                                        type="bi bi-file-earmark-text"
                                    }else if(element.files[j]["mimetype"].indexOf("image")>=0){
                                        type="bi bi-file-earmark-image"
                                    }else if(element.files[j]["mimetype"].indexOf("pdf")>=0){
                                        type="bi bi-file-earmark-pdf"
                                    }else if(element.files[j]["mimetype"].indexOf("zip")>=0 || element.files[j]["mimetype"].indexOf("tar")>=0 ){
                                        type="bi bi-file-earmark-zip"
                                    }else if(element.files[j]["mimetype"].indexOf("audio")>=0){
                                        type="bi bi-file-earmark-music"
                                    }else if(element.files[j]["mimetype"].indexOf("video")>=0){
                                        type="bi bi-file-earmark-play"
                                    }else{
                                        type="bi bi-file-earmark"
                                    }%>
                                    <a class="btn btn-outline-primary my-2" href="/public/files/<%- element.files[j].filename%>"><i class="fs-5 <%- type%>"></i><%- element.files[j].originalname %></a>
                                <% } %>
                                </div>
                        <% } %>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted">
                            <%-element.noticeDate.toDateString()%>
                        </span>
                        <span class="text-muted float-end" style="margin-left: auto;">
                            <%-element.noticeDate.toLocaleTimeString()%>
                        </span>
                    </div>
                </div>
            <% }) } else { %>
                <h2>No notices available</h2>
            <%}%>
        </div>
        <div class="card-footer">
            <form method="POST" class="container container-fluid" name="addedNotice" action="/notice/addMessage" onsubmit="return submitForm(this)">
                <div class="mb-3">
                    <label for="noticeTitle" class="form-label">Notice Title:</label>
                    <input name="noticeTitle" placeholder="Notice Title" class="form-control" id="noticeTitle">
                    <div></div>
                </div>
                <div class="mb-3">
                    <label for="noticeDescription" class="form-label">Notice Description:</label>
                    <textarea name="noticeDescription" placeholder="Notice Description" class="form-control" id="noticeDescription"></textarea>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Attachments:</label>
                    <input name="file" type="file" class="form-control" id="file" multiple>
                </div>
                <div class="mb-3">
                    <input class="btn btn-success" type="submit" id="submit" value="Add notice">
                    <div id="loading" class="progress mt-3" style="display: none;">
                        <div id="loaded" class="progress-bar fw-bolder bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include("footer.ejs") %> 
</body>
<script>
    var socket = io();
    function validate(item){
        d=Object.fromEntries(new FormData(item))
        if(d["noticeTitle"]==undefined||d["noticeTitle"]==""){
            temp=document.getElementById("noticeTitle").nextSibling.nextSibling
            document.getElementById("noticeTitle").classList.add("is-invalid")
            document.getElementById("noticeTitle").classList.remove("is-valid")
            temp.innerHTML="Notice Title cannot be empty"
            temp.classList.add("invalid-feedback")
            temp.classList.remove("valid-feedback")
            return false
        }else{
            temp=document.getElementById("noticeTitle").nextSibling.nextSibling
            document.getElementById("noticeTitle").classList.remove("is-invalid")
            document.getElementById("noticeTitle").classList.add("is-valid")
            temp.innerHTML="Looks fine"
            temp.classList.remove("invalid-feedback")
            temp.classList.add("valid-feedback")
            return true
        }
    }
    loaded=document.getElementById("loaded")
    loading=document.getElementById("loading")
    submit=document.getElementById("submit")
    function submitForm(item,action){
        try{
            if(item.name=="addedNotice"){
                if(!validate(item)){
                    return false
                }
            }
            let data = new FormData(item)
            var req = new XMLHttpRequest();
            req.open("POST",item.action,true);
            loading.style.display="block"
            submit.classList.add("disabled")
            req.upload.addEventListener("progress", async function(evt) {
                if (evt.lengthComputable) {
                    percentComplete = (evt.loaded / evt.total)*100;
                    loaded.style.width = percentComplete+"%"
                    loaded.innerHTML = parseFloat(percentComplete).toFixed(2)+"%"
                    if(percentComplete==100){
                        loaded.innerHTML = "Sent"
                        submit.classList.remove("disabled")
                    }
                }
                }, false);
            req.send(data)
            req.onloadend = () => {
                socket.emit(item.name,JSON.parse(req.responseText))
                loaded.innerHTML=""
                loading.style.display = "none"
                loaded.style.width = 0+"%"
                item.reset()
            }
        }catch(e){
            console.log(e)
        }
        return false
    }
    socket.on("appendNotice",(element)=>{
        if(document.getElementById("notices").innerText=="No notices available"){
            document.getElementById("notices").innerHTML=""
        }
        temp=`<div class="card mb-3" id="${ element.noticeId }" style="${`<%- user["userName"] %>`==element.noticeAuthor?"min-width:25%; max-width: 65%; width: fit-content;margin-left:auto; margin-right: 0px;":"min-width:25%; max-width: 65%; width: fit-content;"}">
                <div class="card-header">
                    ${element.noticeAuthor==`<%-user["userName"]%>`?`
                    <span class="btn btn-outline-primary disabled">Sent by you</span>
                    <form name="deletedNotice" class="float-end" action="/notice/deleteNotice/${element.noticeId}" method="POST" onsubmit="return submitForm(this,this.action)">
                        <input class="btn btn-danger" type="submit" value="delete">
                    </form>
                    `:`
                    <a class="btn btn-outline-primary" href="/users/${element.noticeAuthor}">${element.noticeAuthor}</a>
                    `}
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <h3 class="card-title">${element.noticeTitle!=undefined&&element.noticeTitle!=""?element.noticeTitle[0].toUpperCase()+element.noticeTitle.substring(1):""}</h3>
                        <div class="card-text">${element.noticeDescription!=undefined&&element.noticeDescription!=""?element.noticeDescription[0].toUpperCase()+element.noticeDescription.substring(1):""}</div>
                    </div>`
                    if(element.files!=undefined&&element.files.length!=0) {
                        temp+=`<div class="list-group-item">`
                        for( let j = 0; j < element.files.length; j++ ) {
                            type="";
                            if(element.files[j]["mimetype"].indexOf("text")>=0){
                                type="bi bi-file-earmark-text"
                            }else if(element.files[j]["mimetype"].indexOf("image")>=0){
                                type="bi bi-file-earmark-image"
                            }else if(element.files[j]["mimetype"].indexOf("pdf")>=0){
                                type="bi bi-file-earmark-pdf"
                            }else if(element.files[j]["mimetype"].indexOf("zip")>=0 || element.files[j]["mimetype"].indexOf("tar")>=0 ){
                                type="bi bi-file-earmark-zip"
                            }else if(element.files[j]["mimetype"].indexOf("audio")>=0){
                                type="bi bi-file-earmark-music"
                            }else if(element.files[j]["mimetype"].indexOf("video")>=0){
                                type="bi bi-file-earmark-play"
                            }else{
                                type="bi bi-file-earmark"
                            }
                            temp+=`<a class="btn btn-outline-primary my-2 me-1" href="/public/files/${ element.files[j].filename}"><i class="fs-5 ${ type}"></i>${ element.files[j].originalname }</a>`
                        }
                        temp+=`</div>`
                    }
                temp+=`</div>`
                temp+=`<div class="card-footer">
                    <span class="text-muted">
                            ${new Date(Date.parse(element.noticeDate)).toDateString()}
                        </span>
                        <span class="text-muted float-end" style="margin-left: auto;">
                            ${new Date(Date.parse(element.noticeDate)).toLocaleTimeString()}
                        </span>
                    </div></div>`
        document.getElementById("notices").innerHTML+=temp
        document.getElementById("notices").scrollTop=document.getElementById("notices").scrollHeight
    })
    socket.on("deleteNotice",(msg)=>{
        document.getElementById(msg.noticeId).remove()
        if(document.getElementById("notices").innerText==""){
            document.getElementById("notices").innerHTML="<h2>No notices available</h2>"
        }
    })
    document.getElementById("notices").scrollTop=document.getElementById("notices").scrollHeight
</script>
</html>